.video {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    padding-bottom: 75%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
    margin-bottom: 30px;
}